<div class="jumbotron">
    <h1 class="text-center">Eat-Da-Burger!</h1>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="cool-font">What kind of burger do you want to eat?</p>
      <input class="form-control" type="text" id="burger" placeholder="Enter Your Burger">      
      <button id="burger-submit" class="btn btn-lg pull-right">Submit!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Burgers</h2>
      <hr>
      <div id="burger-area">
        <ul>
          {{#each burgers}}
  	        <li>
  		        <p><span class="label">ID:</span> {{this.id}}</p>
              <p><span class="label">Name:</span> {{this.burger_name}}</p>
              <button data-id="{{this.id}}" class="devour">Devour</button>
  	        </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="../public/assets/js/index.js"></script>
  

